*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --clr-primary-200: #f3eed9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #fff;
    --clr-neutral-900: #222C2A;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

body, h1, h2, h3, p {
    margin: 0;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

h1, h2, h3 {
    line-height: 1;
    font-family: var(--ff-accent);
    color: var(--clr-primary-400);
    font-weight: 900;
}

h2, h3, p {
    margin-bottom: 1em;
}

img {
    display: block;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

header,
section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.container--narrow {
    max-width: 34rem;

}

.bg-light {
    background-color: var(--clr-primary-200);
}
.bg-primary {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
}
.bg-dark {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
}

.bg-primary h2, .bg-dark h2 {
    color: var(--clr-primary-200);
}